.PageContainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
}

.Page {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.EntryDetailsContainer {
  background-color: #2e2e2e;
  margin-bottom: -6px;
  padding-bottom: 6px;
}

.EntryDetails {
  background-color: #2e2e2e;
  margin-left: 5%;
}

.EntryDetailsAlign {
  display: flex;
  justify-content: center;
}

.EntryDetailsAlignRight {
  width: 40%;
}

.EntryDetailsAlignLeft {
  width: 40%;
}

.ReadButton {
  font-size: 16px;
  border: 1px solid #ab262f;
  width: 150px;
  height: 40px;
  color: #E1E1E1;
  background-color: #ab262f;
  border-radius: 50px 0px 50px 0px;
  margin: auto;
}