
.NavBar {
  height: 40px;
  background-color: #010101;
}

.Icon {
  color: #d1d1d1;
  margin-top: 4px;
  margin-left: 15px;
}

.IconButton {
  background-color: #010101;
  border: none;
}

#HamMenu {
  position: absolute;
  text-align: center;
  width: 320px;
  background-color: #2e2e2e;
  z-index: auto;
  height: 100%;
}

.MenuItem {
  margin: 1px;
  border: 1px solid #010101;
  border-radius: 2px;
  font-size: 32px;
}

.MenuItemLink {
  color: #d1d1d1;
  padding-left: auto;
  text-decoration: none;
}
